PUID=
PGID=
TIMEZONE=
WEB_PASSWORD=
ROOT_PASSWORD=
NETWORK_NAME=

# Specify the network configuration file to use
#NETWORK_CONFIG_FILE=external.network.yml
#NETWORK_CONFIG_FILE=local.network.yml

# Specify the port configuration file to use
#PORT_CONFIG_FILE=ports.enabled.yml
#PORT_CONFIG_FILE=ports.disabled.yml

#OPTIONAL
LANG=
HOSTNAME=
PROJECTS_FOLDER=
CONFIG_FOLDER=
PWA_APPNAME=
PORT=